@font-face {
    font-family: 'Trebuchet MS';
     src: url(../fonts/TrebuchetMS.ttf);
   }

#section0, #section1, #section2, #section3{
    background: linear-gradient(to bottom ,#add278,#4fb66f);
}

#header{
    position:fixed;
    display:block;
    width: 100%;
    background: transparent;
    z-index:9;
    text-align:center;
    padding-top: 1.5%;
    padding-left: 4%;
    opacity: 0.4;
}
#logo{
    height: 70px;
    width: auto;
    float: left;
}
.left-side{
    height: 60%; 
    width: 5%; 
    position:absolute; 
    left:0%; 
    bottom: 15%;
    border-right: 2px solid white;
}
.content-logo{
    height: 70%; 
    position:absolute; 
    left: 25%;
    bottom: 10%;
    
}
.menu{
    height: 60%; 
    position:absolute; 
    left: 5%;
    bottom: 15%;
    
}
.submenu{
    height: 33.333333333%;
    
}
.submenu > a{
    color: white;
    font-weight: 500;
}
.submenu > a:hover{
    color: white;
    text-decoration: none;
}
.text-submenu{
    margin-bottom : 0;
    width: 300px;    
    font-family: Trebuchet MS;
    font-weight: 10;
    font-style: italic;
    font-size: 0.95rem;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 25px;
    background-color: #fff;
    display: inline;
    float: left;
    margin-right: 30px;
    margin-left: -4px;
    margin-top: 9px;
}

.content-text{
    height: 100%; 
    position:absolute; 
    left: 60%;
    top: 10%;
    width: 35%;
    
}
.char-title{
    margin: 0;
    font-size: 4.5rem;
    line-height: 3rem;
    padding-bottom: 40px;
    text-align: left;
    font-family: Trebuchet MS;

}
.char-title.static{
    color: white;		
    font-size: 4.5rem;    
    font-weight: 800;
}

.char-title.type{
    color: #000;
    opacity: 0.3;
    font-style: italic;
    line-height: 1;
}
.text-typing{
    position: absolute;
    text-align: left;
}
.text-static{
    margin-top: 10%;
}
.text-bottom{
    margin-top: 35%;
    text-align: left;
}
.text-bottom > p{
    font-style: italic;
    color: #fff;
    margin-top: -20px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 200;

}
.cquote{
    margin-left:500px;
}
#cursor{
    font-size: 5rem;
    line-height: 3rem;
    opacity: 0.3;
    font-style: normal;
}
@media (min-width: 768px) {
    
}
